USE [IBL_ENPA_DB]
GO
/****** Object:  StoredProcedure [dbo].[History_UPgrade_DowngradeData]    Script Date: 7/18/2025 10:16:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[History_UPgrade_DowngradeData]
as
Declare @Timekey int=(Select Timekey from sysdatamatrix where CurrentStatus='C') --27421
Declare @Ext_Date Date=(select cast(Date as Date) from sysdatamatrix where  TimeKey=@Timekey)
Declare @Last_Day_of_month_Timekey int=(Select Timekey from sysdatamatrix 
										where Date=(Select MonthLastDate from sysdatamatrix where CurrentStatus='C')
										)
print @Last_Day_of_month_Timekey
 Declare @Prev_Month_End_Timekey int=(Select Timekey from sysdatamatrix 
										where Date=(Select dateadd(day,-1,MonthfirstDate) from sysdatamatrix where CurrentStatus='C')
										)--27394
print @Prev_Month_End_Timekey


  /*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED*/
	DROP TABLE IF EXISTS #npa_integrationdetails_MonthEnd
  		Select * into #npa_integrationdetails_MonthEnd
		from [dbo].[NPA_IntegrationDetails] WHERE 1=2

	IF @Timekey<>@Last_Day_of_month_Timekey
		BEGIN
			
				INSERT into #npa_integrationdetails_MonthEnd(NCIF_Id,	NCIF_Changed,	SrcSysAlt_Key,	NCIF_EntityID,	CustomerId,	CustomerName,	PAN,	NCIF_AssetClassAlt_Key,	NCIF_NPA_Date,	AccountEntityID,	CustomerACID,	SanctionedLimit,	DrawingPower,	PrincipleOutstanding,	Balance,	Overdue,	DPD_Overdue_Loans,	DPD_Interest_Not_Serviced,	DPD_Overdrawn,	DPD_Renewals,	MaxDPD,	WriteOffFlag,	Segment,	SubSegment,	ProductCode,	ProductDesc,	Settlement_Status,	AC_AssetClassAlt_Key,	AC_NPA_Date,	AstClsChngByUser,	AstClsChngDate,	AstClsChngRemark,	MOC_Status,	MOC_Date,	MOC_ReasonAlt_Key,	MOC_AssetClassAlt_Key,	MOC_NPA_Date,	AuthorisationStatus,	EffectiveFromTimeKey,	EffectiveToTimeKey,	CreatedBy,	DateCreated,	ModifiedBy,	DateModified,	ApprovedBy,	DateApproved,	MOC_Remark,	ProductType,	ActualOutStanding,	MaxDPD_Type,	ProductAlt_Key,	AstClsAppRemark,	MocAppRemark,	PNPA_Status,	PNPA_ReasonAlt_Key,	PNPA_Date,	ActualPrincipleOutstanding,	UNSERVED_INTEREST,	CUSTOMER_IDENTIFIER,	ACCOUNT_LEVEL_CODE,	NF_PNPA_Date,	Remark,	WriteOffDate,	DbtDT,	ErosionDT,	FlgErosion,	IntOverdue,	IntAccrued,	OtherOverdue,	PrincOverdue,	IsRestructured,	IsOTS,	IsTWO,	IsARC_Sale,	IsFraud,	IsWiful,	IsNonCooperative,	IsSuitFiled,	IsRFA,	IsFITL,	IsCentral_GovGty,	Is_Oth_GovGty,	BranchCode,	FacilityType,	SancDate,	Region,	State,	Zone,	NPA_TagDate,	PS_NPS,	Retail_Corpo,	Area,	FraudAmt,	FraudDate,	GovtGtyAmt,	GtyRepudiated,	RepudiationDate,	OTS_Amt,	WriteOffAmount,	ARC_SaleDate,	ARC_SaleAmt,	PrincOverdueSinceDt,	IntNotServicedDt,	ContiExcessDt,	ReviewDueDt,	OtherOverdueSinceDt,	IntOverdueSinceDt,	SecuredFlag,	StkStmtDate,	SecurityValue,	DFVAmt,	CoverGovGur,	CreditsinceDt,	DegReason,	NetBalance,	ApprRV,	SecuredAmt,	UnSecuredAmt,	ProvDFV,	Provsecured,	ProvUnsecured,	ProvCoverGovGur,	AddlProvision,	TotalProvision,	BankProvsecured,	BankProvUnsecured,	BankTotalProvision,	RBIProvsecured,	RBIProvUnsecured,	RBITotalProvision,	SMA_Dt,	UpgDate,	ProvisionAlt_Key,	PNPA_Reason,	SMA_Class,	SMA_Reason,	CommonMocTypeAlt_Key,	FlgDeg,	FlgSMA,	FlgPNPA,	FlgUpg,	FlgFITL,	FlgAbinitio,	NPA_Days,	AppGovGur,	UsedRV,	ComputedClaim,	NPA_Reason,	PnpaAssetClassAlt_key,	SecApp,	ProvPerSecured,	ProvPerUnSecured,	AddlProvisionPer,	FlgINFRA,	MOCTYPE,	DPD_IntService,	DPD_StockStmt,	DPD_FinMaxType,	DPD_PrincOverdue,	DPD_OtherOverdueSince,	IsPUI,	AC_Closed_Date,	SECTOR,	LossDT,	IsFunded,	UploadFlag,	FlgProcessing,	DCCO_Date,	ACMOC_ReasonAlt_Key,	FlgMOC,	PROJ_COMPLETION_DATE,	OPEN_DATE,	UploadID,	STD_ASSET_CAT_Alt_key,	NatureofClassification,	DateofImpacting,	ImpactingAccountNo,	ImpactingSourceSystemName,	Co_borrower_impacted,	PBos_Culprit_Impact,	SEC_PROVPER_OLD,	UNSEC_PROVPER_OLD)
				SELECT 	A.NCIF_Id,	A.NCIF_Changed,	A.SrcSysAlt_Key,	A.NCIF_EntityID,	A.CustomerId,	A.CustomerName,	A.PAN,A.NCIF_AssetClassAlt_Key,	A.NCIF_NPA_Date,	A.AccountEntityID,	A.CustomerACID,	A.SanctionedLimit,	A.DrawingPower,	A.PrincipleOutstanding,	A.Balance,	A.Overdue,	A.DPD_Overdue_Loans,	A.DPD_Interest_Not_Serviced,	A.DPD_Overdrawn,	A.DPD_Renewals,	A.MaxDPD,	A.WriteOffFlag,	A.Segment,	A.SubSegment,	A.ProductCode,	A.ProductDesc,	A.Settlement_Status,	A.AC_AssetClassAlt_Key,	A.AC_NPA_Date,	A.AstClsChngByUser,	A.AstClsChngDate,	A.AstClsChngRemark,	A.MOC_Status,	A.MOC_Date,	A.MOC_ReasonAlt_Key,	A.MOC_AssetClassAlt_Key,	A.MOC_NPA_Date,	A.AuthorisationStatus,	A.EffectiveFromTimeKey,	A.EffectiveToTimeKey,	A.CreatedBy,	A.DateCreated,	A.ModifiedBy,	A.DateModified,	A.ApprovedBy,	A.DateApproved,	A.MOC_Remark,	A.ProductType,	A.ActualOutStanding,	A.MaxDPD_Type,	A.ProductAlt_Key,	A.AstClsAppRemark,	A.MocAppRemark,	A.PNPA_Status,	A.PNPA_ReasonAlt_Key,	A.PNPA_Date,	A.ActualPrincipleOutstanding,	A.UNSERVED_INTEREST,	A.CUSTOMER_IDENTIFIER,	A.ACCOUNT_LEVEL_CODE,	A.NF_PNPA_Date,	A.Remark,	A.WriteOffDate,	A.DbtDT,	A.ErosionDT,	A.FlgErosion,	A.IntOverdue,	A.IntAccrued,	A.OtherOverdue,	A.PrincOverdue,	A.IsRestructured,	A.IsOTS,	A.IsTWO,	A.IsARC_Sale,	A.IsFraud,	A.IsWiful,	A.IsNonCooperative,	A.IsSuitFiled,	A.IsRFA,	A.IsFITL,	A.IsCentral_GovGty,	A.Is_Oth_GovGty,	A.BranchCode,	A.FacilityType,	A.SancDate,	A.Region,	A.State,	A.Zone,	A.NPA_TagDate,	A.PS_NPS,	A.Retail_Corpo,	A.Area,	A.FraudAmt,	A.FraudDate,	A.GovtGtyAmt,	A.GtyRepudiated,	A.RepudiationDate,	A.OTS_Amt,	A.WriteOffAmount,	A.ARC_SaleDate,	A.ARC_SaleAmt,	A.PrincOverdueSinceDt,	A.IntNotServicedDt,	A.ContiExcessDt,	A.ReviewDueDt,	A.OtherOverdueSinceDt,	A.IntOverdueSinceDt,	A.SecuredFlag,	A.StkStmtDate,	A.SecurityValue,	A.DFVAmt,	A.CoverGovGur,	A.CreditsinceDt,	A.DegReason,	A.NetBalance,	A.ApprRV,	A.SecuredAmt,	A.UnSecuredAmt,	A.ProvDFV,	A.Provsecured,	A.ProvUnsecured,	A.ProvCoverGovGur,	A.AddlProvision,	A.TotalProvision,	A.BankProvsecured,	A.BankProvUnsecured,	A.BankTotalProvision,	A.RBIProvsecured,	A.RBIProvUnsecured,	A.RBITotalProvision,	A.SMA_Dt,	A.UpgDate,	A.ProvisionAlt_Key,	A.PNPA_Reason,	A.SMA_Class,	A.SMA_Reason,	A.CommonMocTypeAlt_Key,	A.FlgDeg,	A.FlgSMA,	A.FlgPNPA,	A.FlgUpg,	A.FlgFITL,	A.FlgAbinitio,	A.NPA_Days,	A.AppGovGur,	A.UsedRV,	A.ComputedClaim,	A.NPA_Reason,	A.PnpaAssetClassAlt_key,	A.SecApp,	A.ProvPerSecured,	A.ProvPerUnSecured,	A.AddlProvisionPer,	A.FlgINFRA,	A.MOCTYPE,	A.DPD_IntService,	A.DPD_StockStmt,	A.DPD_FinMaxType,	A.DPD_PrincOverdue,	A.DPD_OtherOverdueSince,	A.IsPUI,	A.AC_Closed_Date,	A.SECTOR,	A.LossDT,	A.IsFunded,	A.UploadFlag,	A.FlgProcessing,	A.DCCO_Date,	A.ACMOC_ReasonAlt_Key,	A.FlgMOC,	A.PROJ_COMPLETION_DATE,	A.OPEN_DATE,	A.UploadID,	A.STD_ASSET_CAT_Alt_key,	A.NatureofClassification,	A.DateofImpacting,	A.ImpactingAccountNo,	A.ImpactingSourceSystemName,	A.Co_borrower_impacted,	A.PBos_Culprit_Impact,	A.SEC_PROVPER_OLD,	A.UNSEC_PROVPER_OLD 	
					FROM [DBO].[NPA_INTEGRATIONDETAILS] A INNER JOIN  [DBO].[Npa_integrationDetails_Archive] B
							ON A.NCIF_ID=B.NCIF_Id
				WHERE A.EFFECTIVEFROMTIMEKEY<= @Timekey AND A.EFFECTIVETOTIMEKEY>=@Timekey --- 20230817 ADDED'<'AND '>' SIGN IN EFFECTIVEFROMTIMEKEY & EFFECTIVETOTIMEKEY 
				AND A.FLGMOC='Y' AND A.NCIF_AssetClassAlt_Key<>B.NCIF_AssetClassAlt_Key
		END
  /*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED END*/

  Drop Table if exists #npa_integrationdetails_Curnt
  Select * into #npa_integrationdetails_Curnt
  from [dbo].[NPA_IntegrationDetails]
  where EffectiveFromTimeKey<= @Timekey and EffectiveToTimeKey>=@Timekey   --- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
  and NCIF_AssetClassAlt_Key=1 

 Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '2','Previous Npa table data into temp',getdate()


 /*ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT*/
	DROP TABLE IF EXISTS #npa_integrationdetails_archive
	SELECT * INTO #npa_integrationdetails_archive FROM npa_integrationdetails_archive WHERE 1=2
/*ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT END*/

IF @Timekey<>@Last_Day_of_month_Timekey		--ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT
	BEGIN									--ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT
	
	DELETE FROM HistoryDownGradeData WHERE AsOnDate=(SELECT DATE FROM SysDataMatrix WHERE TimeKey=@Timekey)

	DELETE FROM HistoryUpgradationData WHERE AsOnDate=(SELECT DATE FROM SysDataMatrix WHERE TimeKey=@Timekey)


	 INSERT into #npa_integrationdetails_archive 
	 SELECT * from [dbo].[NPA_IntegrationDetails_Archive] 
	 where  
	 /*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
	 --EffectiveFromTimeKey<=(Select @Timekey-1) and EffectiveToTimeKey>=(Select @Timekey-1)--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
	 --and 
	 /*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
	 NCIF_AssetClassAlt_Key<>1 
	END										--ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT
/*ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT*/
ELSE IF @Timekey=@Last_Day_of_month_Timekey
	BEGIN

	DELETE FROM HistoryDownGradeData WHERE AsOnDate=(SELECT DATE FROM SysDataMatrix WHERE TimeKey=@Last_Day_of_month_Timekey)

	DELETE FROM HistoryUpgradationData WHERE AsOnDate=(SELECT DATE FROM SysDataMatrix WHERE TimeKey=@Last_Day_of_month_Timekey)

	 
	 INSERT into #npa_integrationdetails_archive 
	       ([NCIF_Id]
           ,[NCIF_Changed]
           ,[SrcSysAlt_Key]
           ,[NCIF_EntityID]
           ,[CustomerId]
           ,[CustomerName]
           ,[PAN]
           ,[NCIF_AssetClassAlt_Key]
           ,[NCIF_NPA_Date]
           ,[AccountEntityID]
           ,[CustomerACID]
           ,[SanctionedLimit]
           ,[DrawingPower]
           ,[PrincipleOutstanding]
           ,[Balance]
           ,[Overdue]
           ,[DPD_Overdue_Loans]
           ,[DPD_Interest_Not_Serviced]
           ,[DPD_Overdrawn]
           ,[DPD_Renewals]
           ,[MaxDPD]
           ,[WriteOffFlag]
           ,[Segment]
           ,[SubSegment]
           ,[ProductCode]
           ,[ProductDesc]
           ,[Settlement_Status]
           ,[AC_AssetClassAlt_Key]
           ,[AC_NPA_Date]
           ,[AstClsChngByUser]
           ,[AstClsChngDate]
           ,[AstClsChngRemark]
           ,[MOC_Status]
           ,[MOC_Date]
           ,[MOC_ReasonAlt_Key]
           ,[MOC_AssetClassAlt_Key]
           ,[MOC_NPA_Date]
           ,[AuthorisationStatus]
           ,[EffectiveFromTimeKey]
           ,[EffectiveToTimeKey]
           ,[CreatedBy]
           ,[DateCreated]
           ,[ModifiedBy]
           ,[DateModified]
           ,[ApprovedBy]
           ,[DateApproved]
           ,[MOC_Remark]
           ,[ProductType]
           ,[ActualOutStanding]
           ,[MaxDPD_Type]
           ,[ProductAlt_Key]
           ,[AstClsAppRemark]
           ,[MocAppRemark]
           ,[PNPA_Status]
           ,[PNPA_ReasonAlt_Key]
           ,[PNPA_Date]
           ,[ActualPrincipleOutstanding]
           ,[UNSERVED_INTEREST]
           ,[CUSTOMER_IDENTIFIER]
           ,[ACCOUNT_LEVEL_CODE]
           ,[NF_PNPA_Date]
           ,[Remark]
           ,[WriteOffDate]
           ,[DbtDT]
           ,[ErosionDT]
           ,[FlgErosion]
           ,[IntOverdue]
           ,[IntAccrued]
           ,[OtherOverdue]
           ,[PrincOverdue]
           ,[IsRestructured]
           ,[IsOTS]
           ,[IsTWO]
           ,[IsARC_Sale]
           ,[IsFraud]
           ,[IsWiful]
           ,[IsNonCooperative]
           ,[IsSuitFiled]
           ,[IsRFA]
           ,[IsFITL]
           ,[IsCentral_GovGty]
           ,[Is_Oth_GovGty]
           ,[BranchCode]
           ,[FacilityType]
           ,[SancDate]
           ,[Region]
           ,[State]
           ,[Zone]
           ,[NPA_TagDate]
           ,[PS_NPS]
           ,[Retail_Corpo]
           ,[Area]
           ,[FraudAmt]
           ,[FraudDate]
           ,[GovtGtyAmt]
           ,[GtyRepudiated]
           ,[RepudiationDate]
           ,[OTS_Amt]
           ,[WriteOffAmount]
           ,[ARC_SaleDate]
           ,[ARC_SaleAmt]
           ,[PrincOverdueSinceDt]
           ,[IntNotServicedDt]
           ,[ContiExcessDt]
           ,[ReviewDueDt]
           ,[OtherOverdueSinceDt]
           ,[IntOverdueSinceDt]
           ,[SecuredFlag]
           ,[StkStmtDate]
           ,[SecurityValue]
           ,[DFVAmt]
           ,[CoverGovGur]
           ,[CreditsinceDt]
           ,[DegReason]
           ,[NetBalance]
           ,[ApprRV]
           ,[SecuredAmt]
           ,[UnSecuredAmt]
           ,[ProvDFV]
           ,[Provsecured]
           ,[ProvUnsecured]
           ,[ProvCoverGovGur]
           ,[AddlProvision]
           ,[TotalProvision]
           ,[BankProvsecured]
           ,[BankProvUnsecured]
           ,[BankTotalProvision]
           ,[RBIProvsecured]
           ,[RBIProvUnsecured]
           ,[RBITotalProvision]
           ,[SMA_Dt]
           ,[UpgDate]
           ,[ProvisionAlt_Key]
           ,[PNPA_Reason]
           ,[SMA_Class]
           ,[SMA_Reason]
           ,[CommonMocTypeAlt_Key]
           ,[FlgDeg]
           ,[FlgSMA]
           ,[FlgPNPA]
           ,[FlgUpg]
           ,[FlgFITL]
           ,[FlgAbinitio]
           ,[NPA_Days]
           ,[AppGovGur]
           ,[UsedRV]
           ,[ComputedClaim]
           ,[NPA_Reason]
           ,[PnpaAssetClassAlt_key]
           ,[SecApp]
           ,[ProvPerSecured]
           ,[ProvPerUnSecured]
           ,[AddlProvisionPer]
           ,[FlgINFRA]
           ,[MOCTYPE]
           ,[DPD_IntService]
           ,[DPD_StockStmt]
           ,[DPD_FinMaxType]
           ,[DPD_PrincOverdue]
           ,[DPD_OtherOverdueSince]
           ,[IsPUI]
           ,[AC_Closed_Date]
           ,[SECTOR]
           ,[LossDT]
           ,[IsFunded]
           ,[UploadFlag]
           ,[FlgProcessing]
           ,[DCCO_Date]
           ,[ACMOC_ReasonAlt_Key]
           ,[FlgMOC]
           ,[PROJ_COMPLETION_DATE]
           ,[OPEN_DATE]
           ,[UploadID]
           ,[STD_ASSET_CAT_Alt_key]
           ,[NatureofClassification]
           ,[DateofImpacting]
           ,[ImpactingAccountNo]
           ,[ImpactingSourceSystemName]
           ,[Co_borrower_impacted]
           ,[PBos_Culprit_Impact]
           ,[SEC_PROVPER_OLD]
           ,[UNSEC_PROVPER_OLD]
		   ,D2Ktimestamp)
     select distinct
           [NCIF_Id]
           ,[NCIF_Changed]
           ,[SrcSysAlt_Key]
           ,[NCIF_EntityID]
           ,[CustomerId]
           ,[CustomerName]
           ,[PAN]
           ,[NCIF_AssetClassAlt_Key]
           ,[NCIF_NPA_Date]
           ,[AccountEntityID]
           ,[CustomerACID]
           ,[SanctionedLimit]
           ,[DrawingPower]
           ,[PrincipleOutstanding]
           ,[Balance]
           ,[Overdue]
           ,[DPD_Overdue_Loans]
           ,[DPD_Interest_Not_Serviced]
           ,[DPD_Overdrawn]
           ,[DPD_Renewals]
           ,[MaxDPD]
           ,[WriteOffFlag]
           ,[Segment]
           ,[SubSegment]
           ,[ProductCode]
           ,[ProductDesc]
           ,[Settlement_Status]
           ,[AC_AssetClassAlt_Key]
           ,[AC_NPA_Date]
           ,[AstClsChngByUser]
           ,[AstClsChngDate]
           ,[AstClsChngRemark]
           ,[MOC_Status]
           ,[MOC_Date]
           ,[MOC_ReasonAlt_Key]
           ,[MOC_AssetClassAlt_Key]
           ,[MOC_NPA_Date]
           ,[AuthorisationStatus]
           ,[EffectiveFromTimeKey]
           ,[EffectiveToTimeKey]
           ,[CreatedBy]
           ,[DateCreated]
           ,[ModifiedBy]
           ,[DateModified]
           ,[ApprovedBy]
           ,[DateApproved]
           ,[MOC_Remark]
           ,[ProductType]
           ,[ActualOutStanding]
           ,[MaxDPD_Type]
           ,[ProductAlt_Key]
           ,[AstClsAppRemark]
           ,[MocAppRemark]
           ,[PNPA_Status]
           ,[PNPA_ReasonAlt_Key]
           ,[PNPA_Date]
           ,[ActualPrincipleOutstanding]
           ,[UNSERVED_INTEREST]
           ,[CUSTOMER_IDENTIFIER]
           ,[ACCOUNT_LEVEL_CODE]
           ,[NF_PNPA_Date]
           ,[Remark]
           ,[WriteOffDate]
           ,[DbtDT]
           ,[ErosionDT]
           ,[FlgErosion]
           ,[IntOverdue]
           ,[IntAccrued]
           ,[OtherOverdue]
           ,[PrincOverdue]
           ,[IsRestructured]
           ,[IsOTS]
           ,[IsTWO]
           ,[IsARC_Sale]
           ,[IsFraud]
           ,[IsWiful]
           ,[IsNonCooperative]
           ,[IsSuitFiled]
           ,[IsRFA]
           ,[IsFITL]
           ,[IsCentral_GovGty]
           ,[Is_Oth_GovGty]
           ,[BranchCode]
           ,[FacilityType]
           ,[SancDate]
           ,[Region]
           ,[State]
           ,[Zone]
           ,[NPA_TagDate]
           ,[PS_NPS]
           ,[Retail_Corpo]
           ,[Area]
           ,[FraudAmt]
           ,[FraudDate]
           ,[GovtGtyAmt]
           ,[GtyRepudiated]
           ,[RepudiationDate]
           ,[OTS_Amt]
           ,[WriteOffAmount]
           ,[ARC_SaleDate]
           ,[ARC_SaleAmt]
           ,[PrincOverdueSinceDt]
           ,[IntNotServicedDt]
           ,[ContiExcessDt]
           ,[ReviewDueDt]
           ,[OtherOverdueSinceDt]
           ,[IntOverdueSinceDt]
           ,[SecuredFlag]
           ,[StkStmtDate]
           ,[SecurityValue]
           ,[DFVAmt]
           ,[CoverGovGur]
           ,[CreditsinceDt]
           ,[DegReason]
           ,[NetBalance]
           ,[ApprRV]
           ,[SecuredAmt]
           ,[UnSecuredAmt]
           ,[ProvDFV]
           ,[Provsecured]
           ,[ProvUnsecured]
           ,[ProvCoverGovGur]
           ,[AddlProvision]
           ,[TotalProvision]
           ,[BankProvsecured]
           ,[BankProvUnsecured]
           ,[BankTotalProvision]
           ,[RBIProvsecured]
           ,[RBIProvUnsecured]
           ,[RBITotalProvision]
           ,[SMA_Dt]
           ,[UpgDate]
           ,[ProvisionAlt_Key]
           ,[PNPA_Reason]
           ,[SMA_Class]
           ,[SMA_Reason]
           ,[CommonMocTypeAlt_Key]
           ,[FlgDeg]
           ,[FlgSMA]
           ,[FlgPNPA]
           ,[FlgUpg]
           ,[FlgFITL]
           ,[FlgAbinitio]
           ,[NPA_Days]
           ,[AppGovGur]
           ,[UsedRV]
           ,[ComputedClaim]
           ,[NPA_Reason]
           ,[PnpaAssetClassAlt_key]
           ,[SecApp]
           ,[ProvPerSecured]
           ,[ProvPerUnSecured]
           ,[AddlProvisionPer]
           ,[FlgINFRA]
           ,[MOCTYPE]
           ,[DPD_IntService]
           ,[DPD_StockStmt]
           ,[DPD_FinMaxType]
           ,[DPD_PrincOverdue]
           ,[DPD_OtherOverdueSince]
           ,[IsPUI]
           ,[AC_Closed_Date]
           ,[SECTOR]
           ,[LossDT]
           ,[IsFunded]
           ,[UploadFlag]
           ,[FlgProcessing]
           ,[DCCO_Date]
           ,[ACMOC_ReasonAlt_Key]
           ,[FlgMOC]
           ,[PROJ_COMPLETION_DATE]
           ,[OPEN_DATE]
           ,[UploadID]
           ,[STD_ASSET_CAT_Alt_key]
           ,[NatureofClassification]
           ,[DateofImpacting]
           ,[ImpactingAccountNo]
           ,[ImpactingSourceSystemName]
           ,[Co_borrower_impacted]
           ,[PBos_Culprit_Impact]
           ,[SEC_PROVPER_OLD]
           ,[UNSEC_PROVPER_OLD]
		   ,D2Ktimestamp
	 from [dbo].[NpaIntegrationDetails_PreMonthEnd] 
	 where  
	 /*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
	 --EffectiveFromTimeKey<=(Select @Timekey-1) and EffectiveToTimeKey>=(Select @Timekey-1)--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
	 --and 
	 /*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
	 NCIF_AssetClassAlt_Key<>1 
	END
/*ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT END*/

 Declare @Asondate_CUR Date=(SELECT DATE FROM SYSDATAMATRIX WHERE TIMEKEY IN (Select DISTINCT EffectiveFromTimeKey from #npa_integrationdetails_Curnt))
 Declare @Asondate_MONTHEND Date=(SELECT DATE FROM SYSDATAMATRIX WHERE TIMEKEY IN (Select DISTINCT EffectiveFromTimeKey from #npa_integrationdetails_MonthEnd))
 --Declare @Asondate_ARCH Date=(SELECT DATE FROM SYSDATAMATRIX WHERE TIMEKEY IN (Select DISTINCT EffectiveFromTimeKey from #npa_integrationdetails_archive))


 Update AuditUPGDEGCheck set Endtime=getdate() where StepID=2

select 2

 Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '3','Index creation onto the both tables',getdate()

Create nonclustered index idx_npa_integrationdetails_archive 
on #npa_integrationdetails_archive(CustomerAcid)

Create nonclustered index idx_npa_integrationdetails_Curnt 
on #npa_integrationdetails_Curnt(CustomerAcid)

Update AuditUPGDEGCheck set Endtime=getdate() where StepID=3

--------------------------------------- Upgradation data working below this query --------------------------------------------


 Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '4','Insertion into HistoryUpgradationData',getdate()

 Print 'insert start'

 Insert into HistoryUpgradationData
 Select distinct --a.EffectiveFromTimeKey,b.EffectiveFromTimeKey,a.NCIF_AssetClassAlt_Key,b.NCIF_AssetClassAlt_Key,* 
 @Asondate_CUR
,DS.SourceName 
,npd.NCIF_Id 
,npd.CustomerACID 
,npd.IsFunded 
,npd.CustomerId 
,npd.PAN 
,npd.CustomerName 
,npd.MaxDPD 
,(CASE WHEN ISNULL(NPD.FLGMOC,'')='Y' THEN (SELECT DATE FROM SysDataMatrix WHERE TimeKey=@Timekey) ELSE npd.UpgDate END )UpgDate --ADDED BY ZAIN ON 20250327 TO ADD UPGDATE AS MONTH-END DATE IN REPORT
,npd.PrincipleOutstanding 
,npd.IntOverdue 
,NPDArc.MaxDPD [Yesterday Max DPD] 
,NPDArc.PrincipleOutstanding [Yesterday Principal OS]
,npd.IntOverdue [Yesterday Interest OS] 
--,npdarc.NCIF_AssetClassAlt_Key [Asset class prior to upgrade]
,DAC_prev.AssetClassShortNameEnum  [Asset class prior to upgrade]
,NPDArc.NCIF_NPA_DATE
--,NPD.NCIF_AssetClassAlt_Key
,DAC_latest.AssetClassShortNameEnum [Asset class on upgrade date]
,NPD.FacilityType [Scheme Type]
,NPD.ProductDesc [Scheme Description]
,NPD.ProductCode [Scheme Code]
,NPD.Segment
,NPD.SubSegment [Sub Segment]
,NPD.MOC_Status IS_MOC
,NPD.ReviewDueDt [Renewal Date]
,NPD.StkStmtDate [Stock statement date]
,NPD.DCCO_Date [DCCO date]
,NPD.PROJ_COMPLETION_DATE [Project Completion Date]
	 from #npa_integrationdetails_Curnt NPD 
 inner join #npa_integrationdetails_archive NPDArc 
 on NPD.customeracid=NPDArc.customeracid
 --on NPD.ncif_id=NPDArc.ncif_id
 and NPD.SrcSysAlt_Key=NPDArc.SrcSysAlt_Key
 Left Join DimsourceSystem ds 
 on NPD.srcsysalt_key=ds.sourcealt_key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_latest
 on NPD.NCIF_AssetClassAlt_Key=DAC_latest.AssetClassAlt_Key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_prev
 on NPDArc.NCIF_AssetClassAlt_Key=DAC_prev.AssetClassAlt_Key
 where NPD.EffectiveFromTimeKey<=@Timekey and NPD.EffectiveToTimeKey>=@Timekey--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
	and NPDArc.EffectiveFromTimeKey<=(Select @Timekey-1) and NPDArc.EffectiveToTimeKey>=(Select @Timekey-1)--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
/*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
--and NPDArc.EffectiveFromTimeKey<=(Select @Timekey-1) and NPDArc.EffectiveToTimeKey>=(Select @Timekey-1)--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
/*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA END*/
-- and NPD.NCIF_AssetClassAlt_Key=1 and NPDArc.NCIF_AssetClassAlt_Key<>1 

/*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED*/
AND NPD.NCIF_Id NOT IN (SELECT NCIF_Id FROM #npa_integrationdetails_MonthEnd)
/*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED END*/

Update AuditUPGDEGCheck set Endtime=getdate() where StepID=4

 select 3

 Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '5','#AccountAdditionalforUpgrade temp table',getdate()

 Drop table if exists #AccountAdditionalforUpgrade
 Select CustomerACID into #AccountAdditionalforUpgrade 
 from #npa_integrationdetails_Curnt where 
 EffectiveFromTimeKey<=@Timekey and EffectiveToTimeKey>=@Timekey--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 and NCIF_Id in (
 Select NCIF from HistoryUpgradationData where AsonDate=@Ext_Date)
 and isnull(CustomerACID,'') not in (Select Account from HistoryUpgradationData where AsonDate=@Ext_Date)
 Update AuditUPGDEGCheck set Endtime=getdate() where StepID=5

 select 4


  Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '6','Insert into HistoryUpgradationData from #AccountAdditionalforUpgrade',getdate()


 Insert into HistoryUpgradationData
 Select distinct--a.EffectiveFromTimeKey,b.EffectiveFromTimeKey,a.NCIF_AssetClassAlt_Key,b.NCIF_AssetClassAlt_Key,* 
 @Asondate_CUR
,DS.SourceName 
,npd.NCIF_Id 
,npd.CustomerACID 
,npd.IsFunded 
,npd.CustomerId 
,npd.PAN 
,npd.CustomerName 
,npd.MaxDPD --Uncommented for insert issue Mayuresh on 20241125
,npd.UpgDate 
,npd.PrincipleOutstanding 
,npd.IntOverdue 
,NPDArc.MaxDPD [Yesterday Max DPD] 
,NPDArc.PrincipleOutstanding [Yesterday Principal OS]
,npd.IntOverdue [Yesterday Interest OS] 
--,npdarc.NCIF_AssetClassAlt_Key [Asset class prior to upgrade]
,DAC_prev.AssetClassShortNameEnum  [Asset class prior to upgrade]
,NPDArc.NCIF_NPA_DATE
--,NPD.NCIF_AssetClassAlt_Key
,DAC_latest.AssetClassShortNameEnum [Asset class on upgrade date]
,NPD.FacilityType [Scheme Type]
,NPD.ProductDesc [Scheme Description]
,NPD.ProductCode [Scheme Code]
,NPD.Segment
,NPD.SubSegment [Sub Segment]
,NPD.MOC_Status IS_MOC
,NPD.ReviewDueDt [Renewal Date]
,NPD.StkStmtDate [Stock statement date]
,NPD.DCCO_Date [DCCO date]
,NPD.PROJ_COMPLETION_DATE [Project Completion Date]
 from #npa_integrationdetails_Curnt NPD 
 Left join #npa_integrationdetails_archive NPDArc 
 on NPD.customeracid=NPDArc.customeracid
 and NPD.SrcSysAlt_Key=NPDArc.SrcSysAlt_Key
 Left Join DimsourceSystem ds 
 on NPD.srcsysalt_key=ds.sourcealt_key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_latest
 on NPD.NCIF_AssetClassAlt_Key=DAC_latest.AssetClassAlt_Key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_prev
 on NPDArc.NCIF_AssetClassAlt_Key=DAC_prev.AssetClassAlt_Key
 where NPD.EffectiveFromTimeKey<=@Timekey and NPD.EffectiveToTimeKey>=@Timekey--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 and NPDArc.EffectiveFromTimeKey<=(Select @Timekey-1) and NPDArc.EffectiveToTimeKey>=(Select @Timekey-1)
	and NPD.NCIF_AssetClassAlt_Key=1 and NPDArc.NCIF_AssetClassAlt_Key<>1  
  and npd.CustomerACID in (select CustomerACID from #AccountAdditionalforUpgrade) /* handeled for accounts left for degrade as on date 20 march 2023 */
 /*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED*/
AND NPD.NCIF_Id NOT IN (SELECT NCIF_Id FROM #npa_integrationdetails_MonthEnd)
/*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED END*/

 Update AuditUPGDEGCheck set Endtime=getdate() where StepID=6

 select 5
 --SELECT * FROM HistoryUpgradationData WHERE AsOnDate=@Ext_Date
 ------------------------------------------- Downgradation data working below this query --------------------------------------------



   Drop Table if exists #npa_integrationdetails_Curnt_Deg
  Select * into #npa_integrationdetails_Curnt_Deg
  from [dbo].[NPA_IntegrationDetails]
  where EffectiveFromTimeKey<= @Timekey and EffectiveToTimeKey>=@Timekey   --- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
  and NCIF_AssetClassAlt_Key<>1 

  

 Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '2','Previous Npa table data into temp',getdate()


 /*ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT*/
	DROP TABLE IF EXISTS #npa_integrationdetails_archive_Deg
	SELECT * INTO #npa_integrationdetails_archive_Deg
		FROM npa_integrationdetails_archive WHERE 1=2
/*ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT END*/


IF @Timekey<>@Last_Day_of_month_Timekey		--ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT
	BEGIN									--ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT
	
	 INSERT into #npa_integrationdetails_archive_Deg 
	 SELECT * from [dbo].[NPA_IntegrationDetails_Archive] 
	 where  
	 /*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
	 --EffectiveFromTimeKey<=(Select @Timekey-1) and EffectiveToTimeKey>=(Select @Timekey-1)--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
	 --and 
	 /*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
	 NCIF_AssetClassAlt_Key=1 
	END										--ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT
/*ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT*/
ELSE IF @Timekey=@Last_Day_of_month_Timekey
	BEGIN
	
	 INSERT into #npa_integrationdetails_archive_Deg 
	       ([NCIF_Id]
           ,[NCIF_Changed]
           ,[SrcSysAlt_Key]
           ,[NCIF_EntityID]
           ,[CustomerId]
           ,[CustomerName]
           ,[PAN]
           ,[NCIF_AssetClassAlt_Key]
           ,[NCIF_NPA_Date]
           ,[AccountEntityID]
           ,[CustomerACID]
           ,[SanctionedLimit]
           ,[DrawingPower]
           ,[PrincipleOutstanding]
           ,[Balance]
           ,[Overdue]
           ,[DPD_Overdue_Loans]
           ,[DPD_Interest_Not_Serviced]
           ,[DPD_Overdrawn]
           ,[DPD_Renewals]
           ,[MaxDPD]
           ,[WriteOffFlag]
           ,[Segment]
           ,[SubSegment]
           ,[ProductCode]
           ,[ProductDesc]
           ,[Settlement_Status]
           ,[AC_AssetClassAlt_Key]
           ,[AC_NPA_Date]
           ,[AstClsChngByUser]
           ,[AstClsChngDate]
           ,[AstClsChngRemark]
           ,[MOC_Status]
           ,[MOC_Date]
           ,[MOC_ReasonAlt_Key]
           ,[MOC_AssetClassAlt_Key]
           ,[MOC_NPA_Date]
           ,[AuthorisationStatus]
           ,[EffectiveFromTimeKey]
           ,[EffectiveToTimeKey]
           ,[CreatedBy]
           ,[DateCreated]
           ,[ModifiedBy]
           ,[DateModified]
           ,[ApprovedBy]
           ,[DateApproved]
           ,[MOC_Remark]
           ,[ProductType]
           ,[ActualOutStanding]
           ,[MaxDPD_Type]
           ,[ProductAlt_Key]
           ,[AstClsAppRemark]
           ,[MocAppRemark]
           ,[PNPA_Status]
           ,[PNPA_ReasonAlt_Key]
           ,[PNPA_Date]
           ,[ActualPrincipleOutstanding]
           ,[UNSERVED_INTEREST]
           ,[CUSTOMER_IDENTIFIER]
           ,[ACCOUNT_LEVEL_CODE]
           ,[NF_PNPA_Date]
           ,[Remark]
           ,[WriteOffDate]
           ,[DbtDT]
           ,[ErosionDT]
           ,[FlgErosion]
           ,[IntOverdue]
           ,[IntAccrued]
           ,[OtherOverdue]
           ,[PrincOverdue]
           ,[IsRestructured]
           ,[IsOTS]
           ,[IsTWO]
           ,[IsARC_Sale]
           ,[IsFraud]
           ,[IsWiful]
           ,[IsNonCooperative]
           ,[IsSuitFiled]
           ,[IsRFA]
           ,[IsFITL]
           ,[IsCentral_GovGty]
           ,[Is_Oth_GovGty]
           ,[BranchCode]
           ,[FacilityType]
           ,[SancDate]
           ,[Region]
           ,[State]
           ,[Zone]
           ,[NPA_TagDate]
           ,[PS_NPS]
           ,[Retail_Corpo]
           ,[Area]
           ,[FraudAmt]
           ,[FraudDate]
           ,[GovtGtyAmt]
           ,[GtyRepudiated]
           ,[RepudiationDate]
           ,[OTS_Amt]
           ,[WriteOffAmount]
           ,[ARC_SaleDate]
           ,[ARC_SaleAmt]
           ,[PrincOverdueSinceDt]
           ,[IntNotServicedDt]
           ,[ContiExcessDt]
           ,[ReviewDueDt]
           ,[OtherOverdueSinceDt]
           ,[IntOverdueSinceDt]
           ,[SecuredFlag]
           ,[StkStmtDate]
           ,[SecurityValue]
           ,[DFVAmt]
           ,[CoverGovGur]
           ,[CreditsinceDt]
           ,[DegReason]
           ,[NetBalance]
           ,[ApprRV]
           ,[SecuredAmt]
           ,[UnSecuredAmt]
           ,[ProvDFV]
           ,[Provsecured]
           ,[ProvUnsecured]
           ,[ProvCoverGovGur]
           ,[AddlProvision]
           ,[TotalProvision]
           ,[BankProvsecured]
           ,[BankProvUnsecured]
           ,[BankTotalProvision]
           ,[RBIProvsecured]
           ,[RBIProvUnsecured]
           ,[RBITotalProvision]
           ,[SMA_Dt]
           ,[UpgDate]
           ,[ProvisionAlt_Key]
           ,[PNPA_Reason]
           ,[SMA_Class]
           ,[SMA_Reason]
           ,[CommonMocTypeAlt_Key]
           ,[FlgDeg]
           ,[FlgSMA]
           ,[FlgPNPA]
           ,[FlgUpg]
           ,[FlgFITL]
           ,[FlgAbinitio]
           ,[NPA_Days]
           ,[AppGovGur]
           ,[UsedRV]
           ,[ComputedClaim]
           ,[NPA_Reason]
           ,[PnpaAssetClassAlt_key]
           ,[SecApp]
           ,[ProvPerSecured]
           ,[ProvPerUnSecured]
           ,[AddlProvisionPer]
           ,[FlgINFRA]
           ,[MOCTYPE]
           ,[DPD_IntService]
           ,[DPD_StockStmt]
           ,[DPD_FinMaxType]
           ,[DPD_PrincOverdue]
           ,[DPD_OtherOverdueSince]
           ,[IsPUI]
           ,[AC_Closed_Date]
           ,[SECTOR]
           ,[LossDT]
           ,[IsFunded]
           ,[UploadFlag]
           ,[FlgProcessing]
           ,[DCCO_Date]
           ,[ACMOC_ReasonAlt_Key]
           ,[FlgMOC]
           ,[PROJ_COMPLETION_DATE]
           ,[OPEN_DATE]
           ,[UploadID]
           ,[STD_ASSET_CAT_Alt_key]
           ,[NatureofClassification]
           ,[DateofImpacting]
           ,[ImpactingAccountNo]
           ,[ImpactingSourceSystemName]
           ,[Co_borrower_impacted]
           ,[PBos_Culprit_Impact]
           ,[SEC_PROVPER_OLD]
           ,[UNSEC_PROVPER_OLD]
		   ,D2Ktimestamp)
     select distinct
           [NCIF_Id]
           ,[NCIF_Changed]
           ,[SrcSysAlt_Key]
           ,[NCIF_EntityID]
           ,[CustomerId]
           ,[CustomerName]
           ,[PAN]
           ,[NCIF_AssetClassAlt_Key]
           ,[NCIF_NPA_Date]
           ,[AccountEntityID]
           ,[CustomerACID]
           ,[SanctionedLimit]
           ,[DrawingPower]
           ,[PrincipleOutstanding]
           ,[Balance]
           ,[Overdue]
           ,[DPD_Overdue_Loans]
           ,[DPD_Interest_Not_Serviced]
           ,[DPD_Overdrawn]
           ,[DPD_Renewals]
           ,[MaxDPD]
           ,[WriteOffFlag]
           ,[Segment]
           ,[SubSegment]
           ,[ProductCode]
           ,[ProductDesc]
           ,[Settlement_Status]
           ,[AC_AssetClassAlt_Key]
           ,[AC_NPA_Date]
           ,[AstClsChngByUser]
           ,[AstClsChngDate]
           ,[AstClsChngRemark]
           ,[MOC_Status]
           ,[MOC_Date]
           ,[MOC_ReasonAlt_Key]
           ,[MOC_AssetClassAlt_Key]
           ,[MOC_NPA_Date]
           ,[AuthorisationStatus]
           ,[EffectiveFromTimeKey]
           ,[EffectiveToTimeKey]
           ,[CreatedBy]
           ,[DateCreated]
           ,[ModifiedBy]
           ,[DateModified]
           ,[ApprovedBy]
           ,[DateApproved]
           ,[MOC_Remark]
           ,[ProductType]
           ,[ActualOutStanding]
           ,[MaxDPD_Type]
           ,[ProductAlt_Key]
           ,[AstClsAppRemark]
           ,[MocAppRemark]
           ,[PNPA_Status]
           ,[PNPA_ReasonAlt_Key]
           ,[PNPA_Date]
           ,[ActualPrincipleOutstanding]
           ,[UNSERVED_INTEREST]
           ,[CUSTOMER_IDENTIFIER]
           ,[ACCOUNT_LEVEL_CODE]
           ,[NF_PNPA_Date]
           ,[Remark]
           ,[WriteOffDate]
           ,[DbtDT]
           ,[ErosionDT]
           ,[FlgErosion]
           ,[IntOverdue]
           ,[IntAccrued]
           ,[OtherOverdue]
           ,[PrincOverdue]
           ,[IsRestructured]
           ,[IsOTS]
           ,[IsTWO]
           ,[IsARC_Sale]
           ,[IsFraud]
           ,[IsWiful]
           ,[IsNonCooperative]
           ,[IsSuitFiled]
           ,[IsRFA]
           ,[IsFITL]
           ,[IsCentral_GovGty]
           ,[Is_Oth_GovGty]
           ,[BranchCode]
           ,[FacilityType]
           ,[SancDate]
           ,[Region]
           ,[State]
           ,[Zone]
           ,[NPA_TagDate]
           ,[PS_NPS]
           ,[Retail_Corpo]
           ,[Area]
           ,[FraudAmt]
           ,[FraudDate]
           ,[GovtGtyAmt]
           ,[GtyRepudiated]
           ,[RepudiationDate]
           ,[OTS_Amt]
           ,[WriteOffAmount]
           ,[ARC_SaleDate]
           ,[ARC_SaleAmt]
           ,[PrincOverdueSinceDt]
           ,[IntNotServicedDt]
           ,[ContiExcessDt]
           ,[ReviewDueDt]
           ,[OtherOverdueSinceDt]
           ,[IntOverdueSinceDt]
           ,[SecuredFlag]
           ,[StkStmtDate]
           ,[SecurityValue]
           ,[DFVAmt]
           ,[CoverGovGur]
           ,[CreditsinceDt]
           ,[DegReason]
           ,[NetBalance]
           ,[ApprRV]
           ,[SecuredAmt]
           ,[UnSecuredAmt]
           ,[ProvDFV]
           ,[Provsecured]
           ,[ProvUnsecured]
           ,[ProvCoverGovGur]
           ,[AddlProvision]
           ,[TotalProvision]
           ,[BankProvsecured]
           ,[BankProvUnsecured]
           ,[BankTotalProvision]
           ,[RBIProvsecured]
           ,[RBIProvUnsecured]
           ,[RBITotalProvision]
           ,[SMA_Dt]
           ,[UpgDate]
           ,[ProvisionAlt_Key]
           ,[PNPA_Reason]
           ,[SMA_Class]
           ,[SMA_Reason]
           ,[CommonMocTypeAlt_Key]
           ,[FlgDeg]
           ,[FlgSMA]
           ,[FlgPNPA]
           ,[FlgUpg]
           ,[FlgFITL]
           ,[FlgAbinitio]
           ,[NPA_Days]
           ,[AppGovGur]
           ,[UsedRV]
           ,[ComputedClaim]
           ,[NPA_Reason]
           ,[PnpaAssetClassAlt_key]
           ,[SecApp]
           ,[ProvPerSecured]
           ,[ProvPerUnSecured]
           ,[AddlProvisionPer]
           ,[FlgINFRA]
           ,[MOCTYPE]
           ,[DPD_IntService]
           ,[DPD_StockStmt]
           ,[DPD_FinMaxType]
           ,[DPD_PrincOverdue]
           ,[DPD_OtherOverdueSince]
           ,[IsPUI]
           ,[AC_Closed_Date]
           ,[SECTOR]
           ,[LossDT]
           ,[IsFunded]
           ,[UploadFlag]
           ,[FlgProcessing]
           ,[DCCO_Date]
           ,[ACMOC_ReasonAlt_Key]
           ,[FlgMOC]
           ,[PROJ_COMPLETION_DATE]
           ,[OPEN_DATE]
           ,[UploadID]
           ,[STD_ASSET_CAT_Alt_key]
           ,[NatureofClassification]
           ,[DateofImpacting]
           ,[ImpactingAccountNo]
           ,[ImpactingSourceSystemName]
           ,[Co_borrower_impacted]
           ,[PBos_Culprit_Impact]
           ,[SEC_PROVPER_OLD]
           ,[UNSEC_PROVPER_OLD]
		   ,D2Ktimestamp
	 from [dbo].[NpaIntegrationDetails_PreMonthEnd] 
	 where  
	 /*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
	 --EffectiveFromTimeKey<=(Select @Timekey-1) and EffectiveToTimeKey>=(Select @Timekey-1)--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
	 --and 
	 /*REMOVED THIS CONDITION BY ZAIN ON 20250325 AS ARCHIVE TABLE CONSIST ONLY ONE DAY DATA*/
	 NCIF_AssetClassAlt_Key=1 
	END
/*ADDED BY ZAIN O 20250711 ON LOCAL FOR MONTH-END REPORT END*/


     
 -- Drop Table if exists #npa_integrationdetails_Curnt_Deg
 -- Select * into #npa_integrationdetails_Curnt_Deg
 -- from [dbo].[NPA_IntegrationDetails]
 -- where EffectiveFromTimeKey<= @Timekey and EffectiveToTimeKey>=@Timekey   --- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 -- and NCIF_AssetClassAlt_Key<>1 
 
 --  DROP TABLE IF EXISTS #npa_integrationdetails_archive_Deg
 --Select * into #npa_integrationdetails_archive_Deg from [dbo].[NPA_IntegrationDetails_Archive] 
 --where  EffectiveFromTimeKey<=(Select @Timekey-1) and EffectiveToTimeKey>=(Select @Timekey-1)--- 20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 --and NCIF_AssetClassAlt_Key=1 


Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '7','Insert into HistoryDownGradeData from prev and currnt tbl',getdate()



Insert into HistoryDownGradeData
  (
  AsonDate
,[SourceName]
,[Account]
,[Funded Non Funded Flag]
,[CIF]
,[NCIF]
,[PAN No]
,[Name]
,[DPD_Overdue_Loans]
,[DPD_Interest_Not_Serviced]
,[DPD_Overdue Interest]
,[DPD_Overdrawn]
,[DPD_Principal Overdue]
,[DPD_Other Overdue]
,[DPD_Renewals]
,[DPD_Stock Statement]
,[Max DPD on date of downgrade]
,[Date of downgrade]
,[Date of NPA of source system]
,[Homogenized_Date of NPA]
,[Classification of source system]
,[Homogenized_Classification]
,[Principal OS]
,[Interest OS]
,[Yesterday Principal OS]
,[Yesterday Interest OS]
,[Scheme Type]
,[Scheme_Code]
,[Scheme Description]
,[Segment]
,[IS_MOC]
,[Renewal Date]
,[Stock statement date1]
,[DCCO date]
,[Restructuring date]
,[Restructuring Flag]
,[Restructuring Type]
,[Fraud flag]
,flgdeg
)
Select --a.EffectiveFromTimeKey,b.EffectiveFromTimeKey,a.NCIF_AssetClassAlt_Key,b.NCIF_AssetClassAlt_Key,* 
 @Asondate_CUR AsonDate
,ds.SourceName
,NPD.customeracid Account
,NPD.IsFunded [Funded Non Funded Flag]
,NPD.CustomerId CIF
,NPD.NCIF_Id  NCIF
,NPD.PAN [PAN No]
,NPD.CustomerName Name
,NPD.DPD_Overdue_Loans
,NPD.DPD_Interest_Not_Serviced
,NPD.DPD_IntService [DPD_Overdue Interest]
,NPD.DPD_Overdrawn
,NPD.DPD_PrincOverdue [DPD_Principal Overdue]
,NPD.DPD_OtherOverdueSince [DPD_Other Overdue]
,NPD.DPD_Renewals DPD_Renewals
,NPD.DPD_StockStmt [DPD_Stock Statement]
,NPD.maxdpd [Max DPD on date of downgrade]
,@Ext_Date [Date of downgrade]
,NPD.AC_NPA_Date [Date of NPA of source system]
,NPD.NCIF_NPA_Date [Homogenized_Date of NPA]
,DAC_prev.AssetClassShortNameEnum [Classification of source system]
,DAC_latest.AssetClassShortNameEnum [Homogenized_Classification]
,NPD.PrincipleOutstanding [Principal OS] 
,NPD.IntOverdue [Interest OS]
,NPDArc.PrincipleOutstanding [Yesterday Principal OS] 
,NPDArc.IntOverdue  [Yesterday Interest OS]
,NPD.FacilityType [Scheme Type]
,NPD.ProductCode [Scheme_Code]
,NPD.ProductDesc [Scheme Description]
,NPD.Segment
,NPD.MOC_Status IS_MOC
,NPD.ReviewDueDt [Renewal Date]
--,NPD.DPD_StockStmt [Stock statement date]
,NPD.StkStmtDate [Stock statement date] -- corrected by satish as on 31 dec 2022
,NPD.DCCO_Date [DCCO date]
,res.Restructuredt [Restructuring date]
,NPD.IsRestructured [Restructuring Flag]
,PAR.ParameterShortNameEnum [Restructuring Type]
,NPD.isfraud [Fraud flag]
,NPD.flgdeg
--count(1)
from #npa_integrationdetails_Curnt_Deg NPD 
 inner join #npa_integrationdetails_archive_Deg NPDArc 
 on NPD.customeracid=NPDArc.customeracid
 and NPD.srcsysalt_key= NPDArc.srcsysalt_key
 and NPD.NCIF_Id not in (Select NCIF from HistoryDownGradeData WHERE DATEADD(DD,-1,@Ext_Date)=AsonDate) --- NCIF ID TO BE REMOVED FROM  YESTERDAY  DATA
 --and NPD.NCIF_Id not in (Select NCIF from [dbo].[DOWN_NCIF] WHERE DATEADD(DD,-1,@Ext_Date)=AsonDate) -- HAVE TO REMOVE THIS AND HAVE TO USE THE UP QUERY
 Left Join DimsourceSystem ds 
 on NPD.srcsysalt_key=ds.sourcealt_key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_latest
 on NPD.NCIF_AssetClassAlt_Key=DAC_latest.AssetClassAlt_Key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_prev  --- 
 on NPD.AC_AssetClassAlt_Key=DAC_prev.AssetClassAlt_Key
 left join  (Select RefSystemAcId,DateCreated,DateModified,RestructureTypeAlt_Key,RestructureDt,
          ROW_NUMBER() over (partition by RefSystemAcId order by COALESCE(isnull(DateCreated,''),isnull(DateModified,'')) desc)  RN
   from curdat.advacrestructuredetail
   where EffectiveFromTimeKey<=@TIMEKEY  and EffectiveToTimeKey>=@TIMEKEY) Res--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 on NPD.customeracid=Res.refsystemacid
 and res.RN=1
   Left JOIN DimParameter PAR
 ON PAR.EffectiveFromTimeKey<=@TIMEKEY AND PAR.EffectiveToTimeKey>=@TIMEKEY--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 AND ParameterAlt_Key=RES.RestructureTypeAlt_Key
 and PAR.DimParameterName='TypeofRestructuring'
 where NPD.EffectiveFromTimeKey<=@Timekey and NPD.EffectiveToTimeKey>=@Timekey--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 and NPDArc.EffectiveFromTimeKey<=(Select @Timekey-1) and NPDArc.EffectiveToTimeKey>=(Select @Timekey-1)--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 and NPD.NCIF_AssetClassAlt_Key<>1 and NPDArc.NCIF_AssetClassAlt_Key=1 
/*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED*/
AND NPD.NCIF_Id NOT IN (SELECT NCIF_Id FROM #npa_integrationdetails_MonthEnd)
/*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED END*/

 --select * from HistoryDownGradeData where asondate='2025-02-28'
  Update AuditUPGDEGCheck set Endtime=getdate() where StepID=7

  Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '8','creation of table #AccountAdditionalforDegrade from curnt',getdate()

 Drop table if exists #AccountAdditionalforDegrade   
 Select CustomerACID into #AccountAdditionalforDegrade
 from #npa_integrationdetails_Curnt_Deg where 
 --ncif_id='73275311' and 
 NCIF_Id in (
 Select NCIF from HistoryDownGradeData where AsonDate=@Ext_Date)
 and isnull(CustomerACID,'') not in (Select Account from HistoryDownGradeData where AsonDate=@Ext_Date)

 Update AuditUPGDEGCheck set Endtime=getdate() where StepID=8

 Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
 select '9','Insert into HistoryDownGradeData from #AccountAdditionalforDegrade',getdate()


 Insert into HistoryDownGradeData
  (
  AsonDate
,[SourceName]
,[Account]
,[Funded Non Funded Flag]
,[CIF]
,[NCIF]
,[PAN No]
,[Name]
,[DPD_Overdue_Loans]
,[DPD_Interest_Not_Serviced]
,[DPD_Overdue Interest]
,[DPD_Overdrawn]
,[DPD_Principal Overdue]
,[DPD_Other Overdue]
,[DPD_Renewals]
,[DPD_Stock Statement]
,[Max DPD on date of downgrade]
,[Date of downgrade]
,[Date of NPA of source system]
,[Homogenized_Date of NPA]
,[Classification of source system]
,[Homogenized_Classification]
,[Principal OS]
,[Interest OS]
,[Yesterday Principal OS]
,[Yesterday Interest OS]
,[Scheme Type]
,[Scheme_Code]
,[Scheme Description]
,[Segment]
,[IS_MOC]
,[Renewal Date]
,[Stock statement date1]
,[DCCO date]
,[Restructuring date]
,[Restructuring Flag]
,[Restructuring Type]
,[Fraud flag]
,flgdeg
)
Select --a.EffectiveFromTimeKey,b.EffectiveFromTimeKey,a.NCIF_AssetClassAlt_Key,b.NCIF_AssetClassAlt_Key,* 
 @Asondate_CUR AsonDate
,ds.SourceName
,NPD.customeracid Account
,NPD.IsFunded [Funded Non Funded Flag]
,NPD.CustomerId CIF
,NPD.NCIF_Id  NCIF
,NPD.PAN [PAN No]
,NPD.CustomerName Name
,NPD.DPD_Overdue_Loans
,NPD.DPD_Interest_Not_Serviced
,NPD.DPD_IntService [DPD_Overdue Interest]
,NPD.DPD_Overdrawn
,NPD.DPD_PrincOverdue [DPD_Principal Overdue]
,NPD.DPD_OtherOverdueSince [DPD_Other Overdue]
,NPD.DPD_Renewals DPD_Renewals
,NPD.DPD_StockStmt [DPD_Stock Statement]
,NPD.maxdpd [Max DPD on date of downgrade]
,@Ext_Date [Date of downgrade]
,NPD.AC_NPA_Date [Date of NPA of source system]
,NPD.NCIF_NPA_Date [Homogenized_Date of NPA]
--,DAC_prev.AssetClassShortNameEnum [Classification of source system]
,DAC_prev.AssetClassShortNameEnum [Classification of source system]
,DAC_latest.AssetClassShortNameEnum [Homogenized_Classification]
,NPD.PrincipleOutstanding [Principal OS] 
,NPD.IntOverdue [Interest OS]
,NPDArc.PrincipleOutstanding [Yesterday Principal OS] 
,NPDArc.IntOverdue  [Yesterday Interest OS]
,NPD.FacilityType [Scheme Type]
,NPD.ProductCode [Scheme_Code]
,NPD.ProductDesc [Scheme Description]
,NPD.Segment
,NPD.MOC_Status IS_MOC
,NPD.ReviewDueDt [Renewal Date]
--,NPD.DPD_StockStmt [Stock statement date]
,NPD.StkStmtDate [Stock statement date] -- corrected by satish as on 31 dec 2022
,NPD.DCCO_Date [DCCO date]
,res.Restructuredt [Restructuring date]
,NPD.IsRestructured [Restructuring Flag]
,PAR.ParameterShortNameEnum [Restructuring Type]
,NPD.isfraud [Fraud flag]
,NPD.flgdeg
 from #npa_integrationdetails_Curnt_Deg NPD 
 left join #npa_integrationdetails_archive_Deg NPDArc 
 on NPD.customeracid=NPDArc.customeracid
 and NPD.srcsysalt_key= NPDArc.srcsysalt_key
 and NPDArc.EffectiveFromTimeKey<=(Select @Timekey-1) and NPDArc.EffectiveToTimeKey>=(Select @Timekey-1)--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 and NPD.NCIF_Id not in (Select NCIF from HistoryDownGradeData WHERE DATEADD(DD,-1,@Ext_Date)=AsonDate) --- NCIF ID TO BE REMOVED FROM  YESTERDAY  DATA
 --and NPD.NCIF_Id not in (Select NCIF from [dbo].[DOWN_NCIF] WHERE DATEADD(DD,-1,@Ext_Date)=AsonDate) -- HAVE TO REMOVE THIS AND HAVE TO USE THE UP QUERY
 Left Join DimsourceSystem ds 
 on NPD.srcsysalt_key=ds.sourcealt_key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_latest
 on NPD.NCIF_AssetClassAlt_Key=DAC_latest.AssetClassAlt_Key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_prev  --- 
 on NPD.AC_AssetClassAlt_Key=DAC_prev.AssetClassAlt_Key
 left join  (Select RefSystemAcId,DateCreated,DateModified,RestructureTypeAlt_Key,RestructureDt,
          ROW_NUMBER() over (partition by RefSystemAcId order by COALESCE(isnull(DateCreated,''),isnull(DateModified,'')) desc)  RN
   from curdat.advacrestructuredetail
   where EffectiveFromTimeKey<=@TIMEKEY  and EffectiveToTimeKey>=@TIMEKEY) Res
 on NPD.customeracid=Res.refsystemacid
 and res.RN=1
   Left JOIN DimParameter PAR
 ON PAR.EffectiveFromTimeKey<=@TIMEKEY AND PAR.EffectiveToTimeKey>=@TIMEKEY
 AND ParameterAlt_Key=RES.RestructureTypeAlt_Key
 and PAR.DimParameterName='TypeofRestructuring'
 where NPD.EffectiveFromTimeKey<=@Timekey and NPD.EffectiveToTimeKey>=@Timekey
 and npd.CustomerACID in (select CustomerACID from #AccountAdditionalforDegrade) /* handeled for accounts left for degrade as on date 20 march 2023 */
 /*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED*/
AND NPD.NCIF_Id NOT IN (SELECT NCIF_Id FROM #npa_integrationdetails_MonthEnd)
/*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED END*/


 --------------------------------------TO ADD RECORD IN DOWNGRADE TABLE WHERE ACCOUNT NEWLY ADDED AS NPA-----------------------------------MOHIT20241119


 Insert into HistoryDownGradeData
  (
  AsonDate
,[SourceName]
,[Account]
,[Funded Non Funded Flag]
,[CIF]
,[NCIF]
,[PAN No]
,[Name]
,[DPD_Overdue_Loans]
,[DPD_Interest_Not_Serviced]
,[DPD_Overdue Interest]
,[DPD_Overdrawn]
,[DPD_Principal Overdue]
,[DPD_Other Overdue]
,[DPD_Renewals]
,[DPD_Stock Statement]
,[Max DPD on date of downgrade]
,[Date of downgrade]
,[Date of NPA of source system]
,[Homogenized_Date of NPA]
,[Classification of source system]
,[Homogenized_Classification]
,[Principal OS]
,[Interest OS]
--,[Yesterday Principal OS]
--,[Yesterday Interest OS]
,[Scheme Type]
,[Scheme_Code]
,[Scheme Description]
,[Segment]
,[IS_MOC]
,[Renewal Date]
,[Stock statement date1]
,[DCCO date]
,[Restructuring date]
,[Restructuring Flag]
,[Restructuring Type]
,[Fraud flag]
,flgdeg
)
Select --a.EffectiveFromTimeKey,b.EffectiveFromTimeKey,a.NCIF_AssetClassAlt_Key,b.NCIF_AssetClassAlt_Key,* 
DISTINCT  @Asondate_CUR AsonDate
,ds.SourceName
,NPD.customeracid Account
,NPD.IsFunded [Funded Non Funded Flag]
,NPD.CustomerId CIF
,NPD.NCIF_Id  NCIF
,NPD.PAN [PAN No]
,NPD.CustomerName Name
,NPD.DPD_Overdue_Loans
,NPD.DPD_Interest_Not_Serviced
,NPD.DPD_IntService [DPD_Overdue Interest]
,NPD.DPD_Overdrawn
,NPD.DPD_PrincOverdue [DPD_Principal Overdue]
,NPD.DPD_OtherOverdueSince [DPD_Other Overdue]
,NPD.DPD_Renewals DPD_Renewals
,NPD.DPD_StockStmt [DPD_Stock Statement]
,NPD.maxdpd [Max DPD on date of downgrade]
,@Ext_Date [Date of downgrade]
,NPD.AC_NPA_Date [Date of NPA of source system]
,NPD.NCIF_NPA_Date [Homogenized_Date of NPA]
,DAC_prev.AssetClassShortNameEnum [Classification of source system]
,DAC_latest.AssetClassShortNameEnum [Homogenized_Classification]
,NPD.PrincipleOutstanding [Principal OS] 
,NPD.IntOverdue [Interest OS]
--,NPDArc.PrincipleOutstanding [Yesterday Principal OS] 
--,NPDArc.IntOverdue  [Yesterday Interest OS]
,NPD.FacilityType [Scheme Type]
,NPD.ProductCode [Scheme_Code]
,NPD.ProductDesc [Scheme Description]
,NPD.Segment
,NPD.MOC_Status IS_MOC
,NPD.ReviewDueDt [Renewal Date]
--,NPD.DPD_StockStmt [Stock statement date]
,NPD.StkStmtDate [Stock statement date] -- corrected by satish as on 31 dec 2022
,NPD.DCCO_Date [DCCO date]
,res.Restructuredt [Restructuring date]
,NPD.IsRestructured [Restructuring Flag]
,PAR.ParameterShortNameEnum [Restructuring Type]
,NPD.isfraud [Fraud flag]
,NPD.flgdeg
--count(1)
from #npa_integrationdetails_Curnt_Deg NPD 
  Left Join DimsourceSystem ds 
 on NPD.srcsysalt_key=ds.sourcealt_key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_latest
 on NPD.NCIF_AssetClassAlt_Key=DAC_latest.AssetClassAlt_Key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_prev  --- 
 on NPD.AC_AssetClassAlt_Key=DAC_prev.AssetClassAlt_Key
 left join  (Select RefSystemAcId,DateCreated,DateModified,RestructureTypeAlt_Key,RestructureDt,
          ROW_NUMBER() over (partition by RefSystemAcId order by COALESCE(isnull(DateCreated,''),isnull(DateModified,'')) desc)  RN
   from curdat.advacrestructuredetail
   where EffectiveFromTimeKey<=@TIMEKEY  and EffectiveToTimeKey>=@TIMEKEY) Res--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 on NPD.customeracid=Res.refsystemacid
 and res.RN=1
   Left JOIN DimParameter PAR
 ON PAR.EffectiveFromTimeKey<=@TIMEKEY AND PAR.EffectiveToTimeKey>=@TIMEKEY--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 AND ParameterAlt_Key=RES.RestructureTypeAlt_Key
 and PAR.DimParameterName='TypeofRestructuring'
  INNER JOIN  #npa_integrationdetails_archive_DEG NPDARC ON NPDARC.NCIF_Id=NPD.NCIF_ID
 where NPD.EffectiveFromTimeKey<=@TIMEKEY and NPD.EffectiveToTimeKey>=@TIMEKEY--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 AND NPD.NCIF_Id NOT IN (SELECT NCIF_Id FROM #npa_integrationdetails_archive_Deg WHERE EffectiveFromTimeKey<=(Select @TIMEKEY-1) and EffectiveToTimeKey>=(Select @TIMEKEY-1))
 /*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED*/
AND NPD.NCIF_Id NOT IN (SELECT NCIF_Id FROM #npa_integrationdetails_MonthEnd)
/*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED END*/
AND NPD.CustomerACID NOT IN (SELECT CustomerACID  FROM  #npa_integrationdetails_archive_DEG)




 ----------------------------------------------------------------------------------------------------------------------------------------------------------
 ------------------------------------TO ADD RECORD WHERE CUSTOMERACID IS DIFFERENT BUT NCIF IS SAME ------------------------------------------MOHIT20241119

 Insert into HistoryDownGradeData
  (
  AsonDate
,[SourceName]
,[Account]
,[Funded Non Funded Flag]
,[CIF]
,[NCIF]
,[PAN No]
,[Name]
,[DPD_Overdue_Loans]
,[DPD_Interest_Not_Serviced]
,[DPD_Overdue Interest]
,[DPD_Overdrawn]
,[DPD_Principal Overdue]
,[DPD_Other Overdue]
,[DPD_Renewals]
,[DPD_Stock Statement]
,[Max DPD on date of downgrade]
,[Date of downgrade]
,[Date of NPA of source system]
,[Homogenized_Date of NPA]
,[Classification of source system]
,[Homogenized_Classification]
,[Principal OS]
,[Interest OS]
,[Yesterday Principal OS]
,[Yesterday Interest OS]
,[Scheme Type]
,[Scheme_Code]
,[Scheme Description]
,[Segment]
,[IS_MOC]
,[Renewal Date]
,[Stock statement date1]
,[DCCO date]
,[Restructuring date]
,[Restructuring Flag]
,[Restructuring Type]
,[Fraud flag]
,flgdeg
)
Select --a.EffectiveFromTimeKey,b.EffectiveFromTimeKey,a.NCIF_AssetClassAlt_Key,b.NCIF_AssetClassAlt_Key,* 
 DISTINCT @Asondate_CUR AsonDate
,ds.SourceName
,NPD.customeracid Account
,NPD.IsFunded [Funded Non Funded Flag]
,NPD.CustomerId CIF
,NPD.NCIF_Id  NCIF
,NPD.PAN [PAN No]
,NPD.CustomerName Name
,NPD.DPD_Overdue_Loans
,NPD.DPD_Interest_Not_Serviced
,NPD.DPD_IntService [DPD_Overdue Interest]
,NPD.DPD_Overdrawn
,NPD.DPD_PrincOverdue [DPD_Principal Overdue]
,NPD.DPD_OtherOverdueSince [DPD_Other Overdue]
,NPD.DPD_Renewals DPD_Renewals
,NPD.DPD_StockStmt [DPD_Stock Statement]
,NPD.maxdpd [Max DPD on date of downgrade]
,@Ext_Date [Date of downgrade]
,NPD.AC_NPA_Date [Date of NPA of source system]
,NPD.NCIF_NPA_Date [Homogenized_Date of NPA]
,DAC_prev.AssetClassShortNameEnum [Classification of source system]
,DAC_latest.AssetClassShortNameEnum [Homogenized_Classification]
,NPD.PrincipleOutstanding [Principal OS] 
,NPD.IntOverdue [Interest OS]
,NPDArc.PrincipleOutstanding [Yesterday Principal OS] 
,NPDArc.IntOverdue  [Yesterday Interest OS]
,NPD.FacilityType [Scheme Type]
,NPD.ProductCode [Scheme_Code]
,NPD.ProductDesc [Scheme Description]
,NPD.Segment
,NPD.MOC_Status IS_MOC
,NPD.ReviewDueDt [Renewal Date]
--,NPD.DPD_StockStmt [Stock statement date]
,NPD.StkStmtDate [Stock statement date] -- corrected by satish as on 31 dec 2022
,NPD.DCCO_Date [DCCO date]
,res.Restructuredt [Restructuring date]
,NPD.IsRestructured [Restructuring Flag]
,PAR.ParameterShortNameEnum [Restructuring Type]
,NPD.isfraud [Fraud flag]
,NPD.flgdeg
--count(1)
from #npa_integrationdetails_Curnt_Deg NPD 
 inner join #npa_integrationdetails_archive_Deg NPDArc 
 --on NPD.customeracid=NPDArc.customeracid  -----MOHIT20241119
  ON NPD.NCIF_Id=NPDArc.NCIF_Id -----MOHIT20241119
 AND NPD.customeracid <> NPDArc.customeracid -----MOHIT20241119
 and NPD.srcsysalt_key= NPDArc.srcsysalt_key
 and NPD.NCIF_Id not in (Select NCIF from HistoryDownGradeData WHERE DATEADD(DD,-1,@Ext_Date)=AsonDate) --- NCIF ID TO BE REMOVED FROM  YESTERDAY  DATA
 --and NPD.NCIF_Id not in (Select NCIF from [dbo].[DOWN_NCIF] WHERE DATEADD(DD,-1,@Ext_Date)=AsonDate) -- HAVE TO REMOVE THIS AND HAVE TO USE THE UP QUERY
 Left Join DimsourceSystem ds 
 on NPD.srcsysalt_key=ds.sourcealt_key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_latest
 on NPD.NCIF_AssetClassAlt_Key=DAC_latest.AssetClassAlt_Key
 Left join (Select AssetClassAlt_Key,AssetClassShortNameEnum from DimAssetClass) DAC_prev  --- 
 on NPD.AC_AssetClassAlt_Key=DAC_prev.AssetClassAlt_Key
 left join  (Select RefSystemAcId,DateCreated,DateModified,RestructureTypeAlt_Key,RestructureDt,
          ROW_NUMBER() over (partition by RefSystemAcId order by COALESCE(isnull(DateCreated,''),isnull(DateModified,'')) desc)  RN
   from curdat.advacrestructuredetail
   where EffectiveFromTimeKey<=@TIMEKEY  and EffectiveToTimeKey>=@TIMEKEY) Res--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 on NPD.customeracid=Res.refsystemacid
 and res.RN=1
   Left JOIN DimParameter PAR
 ON PAR.EffectiveFromTimeKey<=@TIMEKEY AND PAR.EffectiveToTimeKey>=@TIMEKEY--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 AND ParameterAlt_Key=RES.RestructureTypeAlt_Key
 and PAR.DimParameterName='TypeofRestructuring'
 where NPD.EffectiveFromTimeKey<=@Timekey and NPD.EffectiveToTimeKey>=@Timekey--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 and NPDArc.EffectiveFromTimeKey<=(Select @Timekey-1) and NPDArc.EffectiveToTimeKey>=(Select @Timekey-1)--20230817 added'<'and '>' sign in EffectiveFromTimeKey & EffectiveToTimeKey 
 and NPD.NCIF_AssetClassAlt_Key<>1 and NPDArc.NCIF_AssetClassAlt_Key=1 
 And NPD.NCIF_Id not in (Select NCIF from HistoryDownGradeData where AsonDate = @Ext_Date)
 /*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED*/
AND NPD.NCIF_Id NOT IN (SELECT NCIF_Id FROM #npa_integrationdetails_MonthEnd)
/*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED END*/

-------------------ADDED BY ZAIN ON 20250717 FOR NCIF_NPA ON T-1 BUT NEW ACCOUNT OF NCIF ADDED IN T-------------------------
IF @Timekey<>@Last_Day_of_month_Timekey
    BEGIN
            INSERT INTO HISTORYDOWNGRADEDATA
              (
              ASONDATE
            ,[SOURCENAME]
            ,[ACCOUNT]
            ,[FUNDED NON FUNDED FLAG]
            ,[CIF]
            ,[NCIF]
            ,[PAN NO]
            ,[NAME]
            ,[DPD_OVERDUE_LOANS]
            ,[DPD_INTEREST_NOT_SERVICED]
            ,[DPD_OVERDUE INTEREST]
            ,[DPD_OVERDRAWN]
            ,[DPD_PRINCIPAL OVERDUE]
            ,[DPD_OTHER OVERDUE]
            ,[DPD_RENEWALS]
            ,[DPD_STOCK STATEMENT]
            ,[MAX DPD ON DATE OF DOWNGRADE]
            ,[DATE OF DOWNGRADE]
            ,[DATE OF NPA OF SOURCE SYSTEM]
            ,[HOMOGENIZED_DATE OF NPA]
            ,[CLASSIFICATION OF SOURCE SYSTEM]
            ,[HOMOGENIZED_CLASSIFICATION]
            ,[PRINCIPAL OS]
            ,[INTEREST OS]
            ,[YESTERDAY PRINCIPAL OS]
            ,[YESTERDAY INTEREST OS]
            ,[SCHEME TYPE]
            ,[SCHEME_CODE]
            ,[SCHEME DESCRIPTION]
            ,[SEGMENT]
            ,[IS_MOC]
            ,[RENEWAL DATE]
            ,[STOCK STATEMENT DATE1]
            ,[DCCO DATE]
            ,[RESTRUCTURING DATE]
            ,[RESTRUCTURING FLAG]
            ,[RESTRUCTURING TYPE]
            ,[FRAUD FLAG]
            ,FLGDEG
            )
            SELECT --A.EFFECTIVEFROMTIMEKEY,B.EFFECTIVEFROMTIMEKEY,A.NCIF_ASSETCLASSALT_KEY,B.NCIF_ASSETCLASSALT_KEY,* 
             DISTINCT @ASONDATE_CUR ASONDATE
            ,DS.SOURCENAME
            ,NPD.CUSTOMERACID ACCOUNT
            ,NPD.ISFUNDED [FUNDED NON FUNDED FLAG]
            ,NPD.CUSTOMERID CIF
            ,NPD.NCIF_ID  NCIF
            ,NPD.PAN [PAN NO]
            ,NPD.CUSTOMERNAME NAME
            ,NPD.DPD_OVERDUE_LOANS
            ,NPD.DPD_INTEREST_NOT_SERVICED
            ,NPD.DPD_INTSERVICE [DPD_OVERDUE INTEREST]
            ,NPD.DPD_OVERDRAWN
            ,NPD.DPD_PRINCOVERDUE [DPD_PRINCIPAL OVERDUE]
            ,NPD.DPD_OTHEROVERDUESINCE [DPD_OTHER OVERDUE]
            ,NPD.DPD_RENEWALS DPD_RENEWALS
            ,NPD.DPD_STOCKSTMT [DPD_STOCK STATEMENT]
            ,NPD.MAXDPD [MAX DPD ON DATE OF DOWNGRADE]
            ,@EXT_DATE [DATE OF DOWNGRADE]
            ,NPD.AC_NPA_DATE [DATE OF NPA OF SOURCE SYSTEM]
            ,NPD.NCIF_NPA_DATE [HOMOGENIZED_DATE OF NPA]
            ,DAC_PREV.ASSETCLASSSHORTNAMEENUM [CLASSIFICATION OF SOURCE SYSTEM]
            ,DAC_LATEST.ASSETCLASSSHORTNAMEENUM [HOMOGENIZED_CLASSIFICATION]
            ,NPD.PRINCIPLEOUTSTANDING [PRINCIPAL OS] 
            ,NPD.INTOVERDUE [INTEREST OS]
            ,NULL [YESTERDAY PRINCIPAL OS] 
            ,NULL [YESTERDAY INTEREST OS]
            ,NPD.FACILITYTYPE [SCHEME TYPE]
            ,NPD.PRODUCTCODE [SCHEME_CODE]
            ,NPD.PRODUCTDESC [SCHEME DESCRIPTION]
            ,NPD.SEGMENT
            ,NPD.MOC_STATUS IS_MOC
            ,NPD.REVIEWDUEDT [RENEWAL DATE]
            --,NPD.DPD_STOCKSTMT [STOCK STATEMENT DATE]
            ,NPD.STKSTMTDATE [STOCK STATEMENT DATE] -- CORRECTED BY SATISH AS ON 31 DEC 2022
            ,NPD.DCCO_DATE [DCCO DATE]
            ,RES.RESTRUCTUREDT [RESTRUCTURING DATE]
            ,NPD.ISRESTRUCTURED [RESTRUCTURING FLAG]
            ,PAR.PARAMETERSHORTNAMEENUM [RESTRUCTURING TYPE]
            ,NPD.ISFRAUD [FRAUD FLAG]
            ,NPD.FLGDEG
            --COUNT(1)
            FROM NPA_INTEGRATIONDETAILS NPD 
             --AND NPD.NCIF_ID NOT IN (SELECT NCIF FROM [DBO].[DOWN_NCIF] WHERE DATEADD(DD,-1,@EXT_DATE)=ASONDATE) -- HAVE TO REMOVE THIS AND HAVE TO USE THE UP QUERY
             LEFT JOIN DIMSOURCESYSTEM DS 
             ON NPD.SRCSYSALT_KEY=DS.SOURCEALT_KEY
             LEFT JOIN (SELECT ASSETCLASSALT_KEY,ASSETCLASSSHORTNAMEENUM FROM DIMASSETCLASS) DAC_LATEST
             ON NPD.NCIF_ASSETCLASSALT_KEY=DAC_LATEST.ASSETCLASSALT_KEY
             LEFT JOIN (SELECT ASSETCLASSALT_KEY,ASSETCLASSSHORTNAMEENUM FROM DIMASSETCLASS) DAC_PREV  --- 
             ON NPD.AC_ASSETCLASSALT_KEY=DAC_PREV.ASSETCLASSALT_KEY
             LEFT JOIN  (SELECT REFSYSTEMACID,DATECREATED,DATEMODIFIED,RESTRUCTURETYPEALT_KEY,RESTRUCTUREDT,
                      ROW_NUMBER() OVER (PARTITION BY REFSYSTEMACID ORDER BY COALESCE(ISNULL(DATECREATED,''),ISNULL(DATEMODIFIED,'')) DESC)  RN
               FROM CURDAT.ADVACRESTRUCTUREDETAIL
               WHERE EFFECTIVEFROMTIMEKEY<=@TIMEKEY  AND EFFECTIVETOTIMEKEY>=@TIMEKEY) RES--20230817 ADDED'<'AND '>' SIGN IN EFFECTIVEFROMTIMEKEY & EFFECTIVETOTIMEKEY 
             ON NPD.CUSTOMERACID=RES.REFSYSTEMACID
             AND RES.RN=1
               LEFT JOIN DIMPARAMETER PAR
             ON PAR.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND PAR.EFFECTIVETOTIMEKEY>=@TIMEKEY--20230817 ADDED'<'AND '>' SIGN IN EFFECTIVEFROMTIMEKEY & EFFECTIVETOTIMEKEY 
             AND PARAMETERALT_KEY=RES.RESTRUCTURETYPEALT_KEY
             AND PAR.DIMPARAMETERNAME='TYPEOFRESTRUCTURING'
             WHERE NPD.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND NPD.EFFECTIVETOTIMEKEY>=@TIMEKEY--20230817 ADDED'<'AND '>' SIGN IN EFFECTIVEFROMTIMEKEY & EFFECTIVETOTIMEKEY 
             AND NPD.NCIF_ASSETCLASSALT_KEY>1
             AND NPD.NCIF_ID NOT IN (SELECT NCIF FROM HISTORYDOWNGRADEDATA WHERE ASONDATE = @EXT_DATE)
             /*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED*/
            AND NPD.NCIF_ID NOT IN (SELECT NCIF_ID FROM #NPA_INTEGRATIONDETAILS_MONTHEND)
            /*ADDED BY ZAIN ON 20250312 FOR UPGRADE DOWNGRADE REPORT EXCLUSION OF CUSTOMERS WHOSE MOC IS PASSED END*/
             AND NPD.CUSTOMERACID NOT IN (SELECT ACCOUNT FROM HISTORYDOWNGRADEDATA WHERE DATEADD(DD,-1,@EXT_DATE)=ASONDATE) --- NCIF ID TO BE REMOVED FROM  YESTERDAY  DATA
             AND NPD.CUSTOMERACID NOT IN (SELECT CUSTOMERACID FROM NPA_INTEGRATIONDETAILS_ARCHIVE ) --- NCIF ID TO BE REMOVED FROM  YESTERDAY  DATA
    END
 -------------------ADDED BY ZAIN ON 20250717 FOR NCIF_NPA ON T-1 BUT NEW ACCOUNT OF NCIF ADDED IN T END-------------------------
 --------------------------------------------------------------------------------------------------------------------------------------------------------------

 Update AuditUPGDEGCheck set Endtime=getdate() where StepID=9

  Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
  select '10','Updating the culprit system and sourcename part2',getdate()

  Update A set [Culprit System]=a.SourceName,[Culprit System Account No]=a.Account from HistoryDownGradeData(nolock) A where AsonDate=@Ext_Date and NCIF in (
  select NCIF from  HistoryDownGradeData(nolock)  where AsonDate=@Ext_Date
  group by NCIF
  having count(1)=1)
 
   Update a set [Culprit System]=b.SourceName,[Culprit System Account No]=b.Account from
  (select CIF,NCIF,Account,[Date of NPA of source system],[Homogenized_Date of NPA],[Classification of source system],[Homogenized_Classification],[Culprit System],[Culprit System Account No]
  from HistoryDownGradeData(nolock) A where 
  (isnull([Classification of source system],1)<>isnull([Homogenized_Classification],1) or
    isnull([Date of NPA of source system],'')<>isnull([Homogenized_Date of NPA],''))
  and AsonDate=@Ext_Date and NCIF in (
  Select NCIF from  HistoryDownGradeData(nolock)  where AsonDate=@Ext_Date
  group by NCIF
  having count(1)>1)) a 
  inner join
   (select NCIF, STRING_AGG (CONVERT(NVARCHAR(max),Sourcename),',') Sourcename,STRING_AGG (CONVERT(NVARCHAR(max),Account),',') Account
  from HistoryDownGradeData(nolock) A where 
   ( isnull([Classification of source system],1)=isnull([Homogenized_Classification],1) or
    isnull([Date of NPA of source system],'')=isnull([Homogenized_Date of NPA],''))
    and AsonDate=@Ext_Date and NCIF in (
  Select NCIF from  HistoryDownGradeData(nolock)  where AsonDate=@Ext_Date
  group by NCIF
  having count(1)>1) group by NCIF) b on a.NCIF=b.NCIF

  Update AuditUPGDEGCheck set Endtime=getdate() where StepID=10
  
   Insert into AuditUPGDEGCheck(StepID,StepName,strartTime)
  select '11','Updating the culprit system and sourcename part2',getdate()

  Update a set [Culprit System]=b.SourceName,[Culprit System Account No]=b.Account from
  (select CIF,NCIF,Account,[Date of NPA of source system],[Homogenized_Date of NPA],[Classification of source system],[Homogenized_Classification],[Culprit System],[Culprit System Account No]
  from HistoryDownGradeData(nolock) A where 
  (isnull([Classification of source system],1)=isnull([Homogenized_Classification],1) or
    isnull([Date of NPA of source system],'')=isnull([Homogenized_Date of NPA],''))
  and AsonDate=@Ext_Date and NCIF in (
  Select NCIF from  HistoryDownGradeData(nolock)  where AsonDate=@Ext_Date
  group by NCIF
  having count(1)>1)) a 
  inner join
   (select NCIF, STRING_AGG (CONVERT(NVARCHAR(max),Sourcename),',') Sourcename,STRING_AGG (CONVERT(NVARCHAR(max),Account),',') Account
  from HistoryDownGradeData(nolock) A where 
   ( isnull([Classification of source system],1)=isnull([Homogenized_Classification],1) or
    isnull([Date of NPA of source system],'')=isnull([Homogenized_Date of NPA],''))
    and AsonDate=@Ext_Date and NCIF in (
  Select NCIF from  HistoryDownGradeData(nolock)  where AsonDate=@Ext_Date
  group by NCIF
  having count(1)>1) group by NCIF) b on a.NCIF=b.NCIF
  

    Update Fin set [Culprit System]=prev.Sourcename,[Culprit System Account No]=prev.Account 
	--select Fin.*,prev.*
	from
	(Select NCIF,[Culprit System], [Culprit System Account No] from HistoryDownGradeData where asondate=@Ext_Date and [Culprit System] is null) Fin
	 inner join
	 (Select a.NCIF,Sourcename,Account from 
	(select NCIF,Count(1) cnt,'STD' Assets from HistoryDownGradeData where asondate=@Ext_Date  
	group by NCIF) a inner join 
    (select NCIF,Count(1) cnt,'STD' Assets from HistoryDownGradeData where asondate=@Ext_Date and [Classification of source system]='STD'
    group by NCIF) b
	on a.NCIF=b.NCIF
	inner join (Select NCIF,STRING_AGG (CONVERT(NVARCHAR(max),Sourcename),',') Sourcename,STRING_AGG (CONVERT(NVARCHAR(max),account),',') Account 
	from HistoryDownGradeData 
	where asondate=@Ext_Date and isnull(flgdeg,'N')='Y' group by NCIF) c
	on b.NCIF=c.NCIF) prev
	on Fin.NCIF=prev.NCIF
	 Update AuditUPGDEGCheck set Endtime=getdate() where StepID=11
  
;with cte as
(
select   
AsonDate	
,SourceName	
,Account	
,[Funded Non Funded Flag]
,CIF	
,NCIF	
,[PAN No]
,Name	
,DPD_Overdue_Loans	
,DPD_Interest_Not_Serviced	
,[DPD_Overdue Interest]	
,DPD_Overdrawn	
[DPD_Principal Overdue]	
,[DPD_Other Overdue]	
,DPD_Renewals	
,[DPD_Stock Statement]	
,[Max DPD on date of downgrade]	
,[Date of downgrade]	
,[Date of NPA of source system]
,[Homogenized_Date of NPA]	
,[Classification of source system]	
,[Homogenized_Classification]	
,[Principal OS]
,[Interest OS]	
--,[Yesterday Principal OS]	
--,[Yesterday Interest OS]	
,[Scheme Type]	
,[Scheme_Code]	
,[Scheme Description]	
,Segment	
,IS_MOC	
,[Renewal Date]	
,[Stock statement date1] [Stock statement date]
,[DCCO date],
[Restructuring date]	
,[Restructuring Flag]	
,[Restructuring Type]	
,[Fraud flag]	
,[Culprit System]
,[Culprit System Account No]	
from
HistoryDownGradeData(nolock) 
where ([Principal OS] + [Interest OS]) <> 0 --Added by Mayuresh on 20241113 for excluding records with 0 outstanding
and AsonDate=@Ext_Date
--order by 3
)
select * from cte --group by Account having count(1)>1
